<md-card class="card">
  <md-card-header>
    <md-card-title>
      {{item.name}}
    </md-card-title>
    <md-card-subtitle>
      <item-type [type]="item.type"></item-type>
    </md-card-subtitle>
  </md-card-header>
  <item-image [image]="item.image" size="big"></item-image>
  <md-card-content>
    <item-common-data *ngIf="cardTypes.indexOf(item.type) > -1" [item]="item"></item-common-data>
    <item-location *ngIf="item.type==='location'" [item]="item"></item-location>
    <item-investigator *ngIf="item.type==='investigator'" [item]="item"></item-investigator>
    <item-expansion [expansion]="item.expansion"></item-expansion>
  </md-card-content>
</md-card>
