.card {
  max-width: 400px;
}

.elder-sign {
  text-align: center;
}

.elder-sign > img {
  width: auto;
  height: 80px;
}

.item-category {
  text-align: center;
}

.big-card {
  display: block;
  width: auto;
  height: 200px;
  -webkit-background-size: 100%;
  background-size: 100%;
}
