<md-card class="card">
  <md-card-header>
    <md-card-title>
      {{item.name}}
    </md-card-title>
    <md-card-subtitle>
      <item-type [type]="item.type"></item-type>
    </md-card-subtitle>
  </md-card-header>
  <div md-card-image class="elder-sign" *ngIf="!item.image">
    <img src="../../assets/images/elder-sign.svg">
  </div>
  <div md-card-image *ngIf="item.image">
    <span class="{{item.image}}"></span>
  </div>
  <md-card-content>
    <p class="item-category">
      <item-category *ngFor="let category of item.categories" [category]="category"></item-category>
    </p>
    <p *ngIf="item.front" [innerHtml]="item.front | icons">
    </p>
    <p *ngIf="item.reckoning">
      <span class="icon icon-reckoning"></span>: <span [innerHtml]="item.reckoning | icons"></span>
    </p>
    <p>
      <span i18n>Expansion</span>:
      <expansion-name [expansion]="item.expansion"></expansion-name>
    </p>
  </md-card-content>
</md-card>
