.configuration-item-image {
  width: 45px;
  height: 56px;
  margin-left: 8px;
}

.fl {
  background: url('../../assets/images/forsaken-lore.png') no-repeat center;
}

.mom {
  background: url('../../assets/images/mountains-of-madness.png') no-repeat center;
}

.soc {
  background: url('../../assets/images/signs-of-carcosa.png') no-repeat center;
}

.sr {
  background: url('../../assets/images/strange-remnants.png') no-repeat center;
}

.td {
  background: url('../../assets/images/the-dreamlands.png') no-repeat center;
}

.utp {
  background: url('../../assets/images/under-the-pyramids.png') no-repeat center;
}

.configuration-item-slider {
  padding-left: 50px;
  padding-top: 16px;
}
