<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="over" fxLayout="column" fxLayoutAlign="space-between">
    <md-list>
      <md-list-item routerLink="/home" (click)="sidenav.toggle()">
        <i class="material-icons">home</i>
        <span i18n>Home</span>
      </md-list-item>
      <md-list-item routerLink="/generator" (click)="sidenav.toggle()">
        <i class="material-icons">search</i>
        <span i18n>Random Generator</span>
      </md-list-item>
      <md-list-item routerLink="/list" (click)="sidenav.toggle()">
        <i class="material-icons">list</i>
        <span i18n>List Items</span>
      </md-list-item>
      <md-list-item routerLink="/configuration" (click)="sidenav.toggle()">
        <i class="material-icons">settings</i>
        <span i18n>Settings</span>
      </md-list-item>
      <md-list-item routerLink="/about" (click)="sidenav.toggle()">
        <i class="material-icons">person</i>
        <span i18n>About</span>
      </md-list-item>
    </md-list>
    <language-selector></language-selector>
  </md-sidenav>

  <md-toolbar color="primary">
    <i class="material-icons" (click)="sidenav.toggle()">more_vert</i>
  </md-toolbar>
  <router-outlet class="main-container"></router-outlet>
</md-sidenav-container>

